 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>BankPro| New Password</title>
<link rel="stylesheet" href="/resources/public/css/style.default.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/resources/public/css/main.css">

<link href="/resources/public/css/bootstrap.min.css" rel="stylesheet">
 <link href="/resources/public/css/font-awesome.css" rel="stylesheet">

<script type="text/javascript" src="/resources/public/js/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/resources/public/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/resources/public/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/resources/public/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/resources/public/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/resources/public/js/custom/general.js"></script>
<script type="text/javascript" src="/resources/public/js/custom/index.js"></script>
<script src="/resources/public/js/bootstrap.min.js"></script>

</head>

<body class="loginpage" id="resetPassApp">
	<div id="msgTimeOut" style="display: block;" ng-if="successMsg != ''">
		<p class="bg_success">
			<i class="glyphicon glyphicon-ok"></i> <span><b>SUCCESS!</b></span><br>
				{{successMsg}} 
		</p>
		<script>
			setTimeout(function() {
				$('#msgTimeOut').hide();

			}, 10000);
		</script>
	</div>

	<div id="msgTimeOut" style="display: block;" ng-if="error != ''">
		<p class="bg_error">
			<i class="glyphicon glyphicon-remove"></i> <span><b>ERROR!</b></span><br>
				{{error}} 
		</p>
		<script>
			setTimeout(function() {
				error = '';
				$('#msgTimeOut').hide();
			}, 10000);
		</script>
	</div>

	<main ng-controller="BaseFormCtrl">
	<div class="loginbox">
    	<div class="loginboxinner">
        	
            <div class="logo">
            	<h1><span>PAYMENT </span>VISTA</h1>
                
            </div><!--logo-->
            
            <br clear="all" /><br />
            
           <!--  <div class="nousername">
				<div class="loginmsg">The password you entered is incorrect.</div>
            </div>nousername
            
            <div class="nopassword">
				<div class="loginmsg">The password you entered is incorrect.</div>
                <div class="loginf">
                    <div class="thumb"><img alt="" src="images/thumbs/avatar1.png" /></div>
                    <div class="userlogged">
                        <h4></h4>
                        <a href="index.html">Not <span></span>?</a> 
                    </div>
                </div>loginf
            </div>nopassword -->
            
            <form name="form"  ng-submit="resetPassword()" ng-controller="resetPassCntrl">

	        <!--  <tt-error-messages></tt-error-messages>
				<div ng-if="showMessage" ng-show="showMessage" class="info-messages"
					ng-style="{'opacity': m.infoMessages.length > 0 ? 2 : 0, 'z-index': m.infoMessages.length > 0 ? 10 : -10}">
					<img class="info-icon" src="/resources/img/info-icon.png">
						<div class="messages-group">
							<div ng-repeat="info in m.infoMessages">{{info.description}}</div>
						</div>
				</div> -->
				<div class="title_password">
                    			(Requested password format is of minimum 8 Character with 1 capital, 1 numeric and 1 special latter.)
                		</div>
				<div class="password">
                		<div class="passwordinner">
                    		<input type="password" ng-focus="focus('password')" ng-model="m.password" name="password" 
                    	    title ="Requested password format is of minimum 8 Character with 1 capital, 1 numeric and 1 special latter."
                    	 id="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"  placeholder="New Password" required/>
                    	</div>
               			 </div>			

				
				
				<div class="password">
					<div class="passwordinner">
						<input type="password" ng-model="m.confirmPass" ng-foucs="focus('confirmPass')" 
						   title ="Requested password format is of minimum 8 Character with 1 capital, 1 numeric and 1 special latter."
							name="confirmPass" id="confirmPassword"	placeholder="Confirm Password" 
							pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" compare-to="m.password" required/>
							<div ng-messages="m.confirmPass.$error" ></div>
					</div>
				</div>

				<div class="checkbox  terms_x">
					<label>
						<input type="checkbox" ng-model="m.loginTermsAndConditon">Terms and Condition
					</label>
				</div>

				<button type="submit">  Submit</button>
				<div class="register_x">
					<a href="login.html">Back to Login</a>
				</div>
			</form>
            
        </div>
    </div>
    </main>
    <script type="text/javascript" data-main="/resources/public/js/run-resetPassword"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>

</html>
