<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dashboard | PaymentVista</title>

 <link href="/resources/public/css/bootstrap.min.css" rel="stylesheet">
 <link href="/resources/public/css/font-awesome.css" rel="stylesheet">
 <link rel="stylesheet" href="/resources/public/css/style.default.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/resources/public/css/main.css">
 

<script type="text/javascript" src="/resources/public/js/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/resources/public/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript"	src="/resources/public/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript"	src="/resources/public/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/resources/public/js/custom/general.js"></script>
<script type="text/javascript" src="/resources/public/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/resources/public/js/plugins/colorpicker.js"></script>
<script type="text/javascript" src="/resources/public/js/custom/elements.js"></script>
<script src="/resources/public/js/bootstrap.min.js"></script>
<script src="/resources/public/js/w3data.js"></script>
   <script src="/resources/public/js/bootstrap-button-to-input-file.js"></script>   
<script type="text/javascript" src="/resources/public/js/custom/adddom.js"></script>
<script type="text/javascript" src="/resources/public/js/custom/canvasjs.min.js"></script>

<script type="text/javascript" src="/resources/public/js/custom/angular.js"></script>
<script type="text/javascript" src="/resources/public/js/angular-file-upload.js"></script>
<script type="text/javascript" src="/resources/public/js/dashboard.js"></script>

<!-- datepicker -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script type="text/javascript" src="/resources/public/js/header.js"></script>

<!-- 
 <script type="text/javascript" data-main="/resources/public/js/run-userRegistor"
        src="/resources/bower_components/requirejs/require.js"></script>  -->
<style>
body.withvernav {
	background: none !important;
}
</style>


<script>
	$(document).ready(function() {
		$('.headermenu li a').click(function() {
			$(this).parent().siblings().removeClass("current");
			$(this).parent().addClass("current");

		});

	});
</script>

<body class="withvernav" id="createUserApp" ng-controller="NewRegistorCtrl">

	<button style="opacity:0;" type="button" class="btn btn-primary sr-only" id="btn-open-modal" data-toggle="modal" data-target="#myModal"></button>
	<div id="msgTimeOut"  style="display:block;" ng-if= "successMsg != ''">
			<p class="bg_success">
				<i class="glyphicon glyphicon-ok"></i> <span><b>SUCCESS!</b></span><br>
				{{successMsg}}
			</p>
			<script>			
				setTimeout(function() {
					$('#msgTimeOut').hide();
					
				}, 10000);
		  </script>
		</div>
	
		<div id="msgTimeOut"  style="display:block;" ng-if="error != ''">
			<p class="bg_error">
				<i class="glyphicon glyphicon-remove"></i> <span><b>ERROR!</b></span><br>
				{{error}}
			</p>
			<script>			
				setTimeout(function() {
					error = '';
					$('#msgTimeOut').hide();
				}, 10000);
		  </script>
		</div>

	<div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <form class="form-horizontal" name="form">
	
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Company Details</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="contenttitle2 ml-15">
								<h3 class="mt-0">Please Fill These Fields</h3>
							</div>
							<div class="clearfix"></div>
							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Country</label>
								<div class="col-sm-7">
									<select name="countrySelect"  ng-change="loadStateName(usr.countryModel)" 
									       id="country" ng-model="usr.countryModel" class="form-control" >
									<option value="">-- Select Country --</option>
									<option ng-repeat ="cntryObj in countriesData" value="{{cntryObj.countryID}}">{{cntryObj.countryName}}</option>
									</select>
								</div>
							</div>
							<div class="clearfix"></div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Legal	Entity Name</label>
								<div class="col-sm-7">
									<input type="text" id="entityName" ng-model="usr.legalEntityName" 
										ng-foucs="focus('legalEntityName')" name="legalEntityName" class="form-control" />
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Organization Name<span class="mandatory">*</span></label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="orgName" maxlength = 145
										ng-model="usr.organization" ng-foucs="focus('organization')" name="organization" required/>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">CIN</label>
								<div class="col-sm-7">
									<input type="text" class="form-control pan_w" id="cin"  maxlength = 10
										ng-model="usr.cin" ng-foucs="focus('cin')" name="cin"/>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">PAN Code</label>
								<div class="col-sm-7">
									<input type="text" class="form-control pan_w" id="panCode" maxlength = 12
										ng-model="usr.panNo" ng-foucs="focus('panNo')"	name="panNo"/>
								</div>
							</div>

							<div class="clearfix"></div>
							<div class="contenttitle2 ml-15">
								<h3 class="mt-0">Address</h3>
							</div>
							<div class="clearfix"></div>
							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Address
									Line 1</label>
								<div class="col-sm-7">
									<textarea class="form-control" rows="1" id="addressLine1" maxlength = 200
										ng-model="usr.addressLine1" ng-foucs="focus('addressLine1')"
										name="addressLine1"></textarea>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Address
									Line 2</label>
								<div class="col-sm-7">
									<textarea class="form-control" rows="1" id="addressLine22" maxlength = 200
										ng-model="usr.addressLine2" ng-foucs="focus('addressLine2')"
										name="addressLine2"></textarea>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Address
									Line 3</label>
								<div class="col-sm-7">
									<textarea class="form-control" rows="1" id="addressLine33" maxlength = 200
										ng-model="usr.addressLine3" ng-foucs="focus('addressLine3')"
										name="addressLine3"></textarea>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">City</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="citiName" maxlength = 45
										ng-model="usr.citiName" ng-foucs="focus('citiName')" name="citiName"/>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">State</label>
								<div class="col-sm-7">
									 <select ng-model="usr.stateNameID"	 class="form-control" style="width: 165px;">
										<option value="">-- Select state --</option>
										<option ng-repeat="stateObj in usr.stateList" value="{{stateObj.stateId}}">{{stateObj.stateName}}</option>
									</select> 
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Pin Code</label>
								<div class="col-sm-7">
									<input type="text" class="form-control pin_w" id="pinCode"
										ng-model="usr.pinCode" ng-foucs="focus('pinCode')" maxlength = 6
										name="pinCode">
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">URL</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="url" maxlength = 150
										ng-model="usr.url" ng-foucs="focus('url')" name="url">
								</div>
							</div>



							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Phone	Number</label>
								<div class="col-sm-7">
									<input type="text" class="form-control pan_w" id="phoneNo" maxlength = 10
										ng-model="usr.contactNo" ng-foucs="focus('contactNo')"
										name="contactNo">
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Email Id</label>
								<div class="col-sm-7">
									<input type="email" class="form-control" id="email"
										ng-model="usr.email" ng-foucs="focus('email')" name="email" disabled>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Inbox Email Id</label>
								<div class="col-sm-7">
									<input type="email" class="form-control" id="inboxEmailID" maxlength = 56
										ng-model="usr.inboxEmailID" ng-foucs="focus('inboxEmailID')"
										name="inboxEmailID">
								</div>
							</div>

							<div class="clearfix"></div>
							<div class="contenttitle2 ml-15">
								<h3>Other Info</h3>
							</div>
							<div class="clearfix"></div>


							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Industry </label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="industry" maxlength = 25
										ng-model="usr.industry" ng-foucs="focus('industry')"
										name="industry">
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">No. of	Employee</label>
								<div class="col-sm-7">
									<input type="number" class="form-control" id="employCount" 
										ng-model="usr.employCount" ng-foucs="focus('employCount')"
										name="employCount">
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="" class="col-sm-5 control-label">Type of
									Entity</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="entityType" maxlength = 25
										ng-model="usr.entityType" ng-foucs="focus('entityType')"
										name="entityType">
								</div>
							</div>



							<div class="clearfix"></div>
							<div class="contenttitle2 ml-15">
								<h3>
									Add Document <span class="small">(Supported file formats
										- JPG, PNG, PDF)</span>
								</h3>
							</div>
							<div class="clearfix"></div>


							<div class="form-group col-sm-6" enctype=”multipart/form-data”  ng-controller="FileUploadCtrl">
								<div class="form-group">
								<label class="col-sm-4 control-label pt-0">Address Proof: </label>
								 <input type="file"  ng-click="setAttributeForFileUpload('addressDoc')"
								  nv-file-select="" uploader="uploader" id="fileSelected">
							  	</div>
							</div>
							

							<div class="form-group col-sm-6" enctype=”multipart/form-data”  ng-controller="FileUploadCtrl">
								<div class="form-group">
								<label class="col-sm-4 control-label pt-0"> PAN :  </label>
							    <input type="file"  ng-click="setAttributeForFileUpload('panDoc')"
							           nv-file-select="" uploader="uploader" id="panSelected">
					           	</div>
							</div>

						 <div class="col-sm-12">
						    <div class="col-sm-12 col-xs-12 otherdoc_set">
							<label for="" class="control-label text-left"><b>Add Files</b></label>
							<div class="clearfix"></div>
							<div class="col-md-5 pl-0">
								<input type="text" name="manuallyGivenFileName"
									class="form-control mb-10-m mb-10" ng-model="addFiles.manuallyGivenFileName"	placeholder="Enter File Name">
							</div>
							<div class="form-group col-sm-4" enctype=”multipart/form-data”  ng-controller="FileUploadCtrl">
								<input type="file" id="fileSelected" ng-click="setAttributeForFileUpload('manualFileSelected')"
								        nv-file-select="" uploader="uploader">
							</div>
							<button type="button" ng-click="addManualFile(addFiles)" class="stdbtn btn_black btn-xs addbtn mb-10-m">Add</button>
							<div class="clearfix"></div>
								<div class="row">
									<div class="col-md-12">
										<div ng-repeat="docView in DocViewObjList" class="row list_add">
											<div class="col-md-5 col-sm-2 col-xs-5">{{docView.manuallyGivenFileName}}</div>
											<a target="_blank"
												href="https://paymentvista.com:8443/resources/public/tmpFiles/{{docView.fileName}}">
												<div class="col-md-5 col-sm-2 col-xs-5"	>{{docView.fileName}}</div>
											</a>
											<div class="col-md-2 col-sm-2 col-xs-2">
												<button type="button" class="removebutton"
													title="Remove this row">X</button>
											</div>
										</div>									
									</div>

								</div>
						</div>
					</div>

							<div class="clearfix"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
						<button type="button" class="btn btn-primary" ng-click="detailUserInfoSave(usr,'draft')">Save as Draft</button>
						<button type="button" class=" btn btn-primary" ng-click="detailUserInfoSave(usr,'submit')">Submit</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		
		<!-- /.modal -->
	</form>
	</div>
	
	
	
<button style="opacity:0;" type="button" class="btn btn-primary sr-only" id="btn-open-demo-2" data-toggle="modal" data-target="#demo-2"></button>

<form class="form-inline" name="form"  ng-controller="bankDetailCtrl" >
	<div class="modal fade" id="demo-2" tabindex="-1" role="dialog"	aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Please fill these bank account details</h4>
				</div>
				<div class="modal-body">

					
						<div class="row popup_one">
							<div class="form-group col-md-6">
								<label for="" class="col-md-5">Country</label> 
								<select	class="form-control" ng-model="usr.countryID" style="width: 165px;">
									<option value="">-- Select Country --</option>
									<option ng-repeat="cntryObj in countriesData" value="{{cntryObj.countryID}}">{{cntryObj.countryName}}</option>
									</select>
								</select>
							</div>
							<div class="form-group col-md-6">	
								<label for="" class="col-sm-5">Name of the bank</label>
								 <input	type="text" id="bankName"	ng-model="usr.bankName" ng-foucs="focus('bankName')"
										name="bankName" class="form-control col-md-7" required/>
							</div>

							<div class="form-group col-md-6">
								<label for="" class="col-md-5">Account Holder Name</label>
								 <input	type="text" id="holderName" ng-model="usr.accHolderName" ng-foucs="focus('accHolderName')"
										name="accHolderName" class="form-control col-md-7" required/>
							</div>
							<div class="form-group col-md-6">
								<label for="" class="col-md-5">Account Number</label> 
								<input type="text" id="accNo" ng-model="usr.accountNumber" ng-foucs="focus('accountNumber')"
									    maxlength = 20 name="accountNumber" class="form-control col-md-7" required/>
							</div>

							<div class="form-group col-md-6">
								<label for="" class="col-md-5">Branch Address</label> <input
									type="text" id="branchAddress" ng-model="usr.branchAddress" ng-foucs="focus('branchAddress')"
										name="branchAddress" class="form-control col-md-7"/>
							</div>
							<div class="form-group col-md-6">
								<label for="" class="col-md-5">IFSC Code</label> <input
									type="text" id="accNo" ng-model="usr.ifscCode" pattern="^[A-Za-z]{4}\d{7}$" ng-foucs="focus('ifscCode')"
										name="ifscCode" class="form-control col-md-7 pan_w">
							</div>

							<div class="form-group col-md-6">
								<label for="" class="col-md-5">MICR No.</label> <input 
									type="text" id="micrNo" ng-model="usr.micrNo" ng-foucs="focus('micrNo')"
										name="micrNo" class="form-control col-md-7">
							</div>
							<div class="form-group col-md-6">
								<label for="" class="col-md-5">IBAN No.</label> <input
									type="text" id="ibanNo" ng-model="usr.ibanNo" ng-foucs="focus('ibanNo')"
										name="ibanNo" class="form-control col-md-7">
							</div>
							<div class="form-group col-md-6">
								<label for="" class="col-md-5">Electronic Collections
									Account</label> <input type="" class="form-control col-md-7"
									id="disabledInput" placeholder="" disabled>
							</div>
							<div class="form-group col-md-6">
								<label for="" class="col-md-5">Virtual Account IFSC Code</label>
								<input type="" class="form-control col-md-7" id="disabledInput"
									placeholder="" disabled>
							</div>

							<div class="form-group col-md-6">
								<label for="" class="col-md-5">Amount Limit</label> <input
									type="number" id="amountLimit" ng-model="usr.amountLimit" ng-foucs="focus('amountLimit')"
										name="amountLimit" class="form-control col-md-7">
							</div>
							<div class="col-md-6">
								<div class="form-group col-md-6 checkbox">
									<label> <input type="checkbox" id="availableApValue" ng-model="usr.availableForAP"
									 ng-foucs="focus('availableForAP')"	name="availableForAP" class="form-control col-md-7"><span class="set_check"> Available For
										AP</span>
									</label>
								</div>

								<div class="form-group col-md-6 checkbox">
									<label> <input type="checkbox" id="defaultApValue" ng-model="usr.defaultForAP" 
									ng-foucs="focus('defaultForAP')"	name="defaultForAP" class="form-control col-md-7"><span class="set_check"> Default For AP</span>
									</label>
								</div>
								<div class="form-group col-md-6 checkbox">
									<label> <input type="checkbox" id="availableArValue" ng-model="usr.availableForAR"
									 ng-foucs="focus('availableForAR')" name="availableForAR" class="form-control col-md-7"> <span class="set_check">Available For
										AR</span>
									</label>
								</div>
							</div>


							<div class="clearfix"></div>
							<div class="contenttitle2 ml-15">
								<h3>Debit Mandate Details</h3>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12">
								<div class="row popup_one">
									<div class="form-group col-md-6">
										<label for="" class="col-md-5">Authorizer</label> <input
											type="" class="form-control col-md-7 input_w" id="disabledInput"
											placeholder="" disabled>
									</div>
									<div class="form-group col-md-6">
										<label for="" class="col-md-5">Amount</label> <input type=""
											class="form-control col-md-7 input_w" id="disabledInput"
											placeholder="" disabled>
									</div>

									<div class="form-group col-md-6">
										<label for="" class="col-md-5">Expiry Date</label> <input
											id="datepicker" type="text" class="width100" disabled />
									</div>
									<div class="form-group col-md-6">
										<label for="" class="col-md-5">Frequency</label> <input
											type="" class="form-control col-md-7 input_w" id="disabledInput"
											placeholder="" disabled>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<button type="button" class="btn btn-primary ml-15"  data-toggle="collapse" href="#collapseExampleSet" aria-expanded="false" aria-controls="collapseExampleSet">User Verify</button>
							<div class="clearfix"></div>
							<div class="collapse"  id="collapseExampleSet">

							<div class="contenttitle2 ml-15">
								<h3>Set transaction password</h3>
							</div>
							<div class="clearfix"></div>
							
							<div class="col-md-12">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="" class="col-md-5">Tranction Password</label> <input
											type="password" class="form-control col-md-7 pan_w" id="" ng-model="usr.transPass"
											title ="Requested password format is of minimum 8 Character with 1 capital, 1 numeric and 1 special latter."
                    	                     id="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required/>
									</div>
									<div class="form-group col-md-6">
										<label for="" class="col-md-5">Confirm Transaction
											Password</label> <input type="password" class="form-control col-md-7 pan_w" ng-model="usr.confirmTransPass"
											title ="Requested password format is of minimum 8 Character with 1 capital, 1 numeric and 1 special latter."
                                         	id="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required/>
									</div>
								</div>
							</div>
							<div class="contenttitle2 ml-15">
								<h3>OTP verification</h3>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="" class="col-md-5">Enter Generated Code </label>
										<div class="pull-left">
											<input type="password" class="form-control col-md-7 pan_w" id=""	ng-model="usr.userDefinedOTP" required/><br>
											<button type="button" ng-click="generateOTPForBank(usr.accountNumber)" 
											             class="btn btn-default generate_link">Click here to generate code</button>
											<!-- <a href="#"
												class="mt-5 pull-left"> Click here to generate code</a> -->
										</div>
									</div>
								</div>
							</div>
							</div>



							<div class="clearfix"></div>
							<div class="contenttitle2 ml-15">
								<h3>Upload Documents</h3>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12 mandate_link">
								<div enctype=”multipart/form-data” ng-controller="FileUploadCtrl" class="row">
									<div class="form-group col-sm-6">
										<label for="" class="col-sm-7 control-label"><a
											href="#"><i class="fa fa-download"></i> Download Debit
												Mandate Format</a></label>
									</div>
									<div class="form-group col-sm-6">
										<label for="" class="col-sm-7 control-label"><a
											href="#"><i class="fa fa-download"></i> Download Board
												Resolution</a></label>
									</div>
									<div class="clearfix"></div>

									<div class="form-group col-sm-6">
										<label for="" class="col-sm-4 control-label">Debit Mandate</label>
										 <input type="file" ng-click="setAttributeForFileUpload('debitMandate')"
										  id="Debit" nv-file-select="" uploader="uploader">
									</div>

									<div  class="form-group col-sm-6">
										<label for="" class="col-sm-4 control-label">Board	Resolution</label>
										  <input type="file" ng-click="setAttributeForFileUpload('boardResolution')"
										   id="Board" nv-file-select=""	uploader="uploader">
									</div>

									<div class="form-group col-sm-6" >
										<label for="" class="col-sm-4 control-label">PAN Card</label>
										<input type="file" ng-click="setAttributeForFileUpload('panCardBank')"
										id="PAN" nv-file-select="" uploader="uploader">
									</div>

									<div class="form-group col-sm-6" >
										<label for="" class="col-sm-4 control-label">Address Proof On Bank</label> 
										<input type="file" ng-click="setAttributeForFileUpload('addressBank')" id="Address"
											nv-file-select="" uploader="uploader">
									</div>

									<div class="form-group col-sm-6">
										<label for="" class="col-sm-4 control-label">Cancelled	Cheque</label>
										 <input type="file" ng-click="setAttributeForFileUpload('cancelledCheque')"
										  id="Cancelled" nv-file-select=""	uploader="uploader">
									</div>


									<div class="col-sm-12">
										<div class="col-sm-12 col-xs-12 otherdoc_set">
											<label for="" class="control-label text-left"><b>Add
													Files</b></label>
											<div class="clearfix"></div>
											<div class="col-md-4 pl-0">
												<input type="text" name="manuallyGivenFileName"	class="form-control mb-10-m mb-10"
													ng-model="addFiles.manuallyGivenFileName" placeholder="Enter File Name">
											</div>
											<div class="form-group col-sm-4">
												<input type="file" id="fileSelected" ng-click="setAttributeForFileUpload('manualFileSelected')"
													nv-file-select="" uploader="uploader">
											</div>
											<button type="button" ng-click="addManualFileForBank(addFiles)"
												class="stdbtn btn_black btn-xs addbtn mb-10-m">Add</button>
											<div class="row">
												<div class="col-md-12">
													<div ng-repeat="docView in DocViewObjListForBank"
														class="row list_add">
														<div class="col-md-5 col-sm-2 col-xs-5">{{docView.manuallyGivenFileName}}</div>
														<a target="_blank"
															href="https://paymentvista.com:8443/resources/public/tmpFiles/{{docView.fileName}}">
															<div class="col-md-5 col-sm-2 col-xs-5">{{docView.fileName}}</div>
														</a>
														<div class="col-md-2 col-sm-2 col-xs-2">
															<button type="button" class="removebutton"
																title="Remove this row">X</button>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="form-group col-md-10">
										<div class="col-sm-10">
											<br>
											<p>I have signing authority on this bank account or	permission to authorize transactions on the account</p>
											<div class="checkbox">
												<label> <input type="checkbox" ng-model="usr.termAcceptanceFlag"> I agree to 
												                  the <a href="public/terms.html">"Payment Terms of Service"</a>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
					<button type="button" ng-click="saveBankDetail(usr,'draft')" class="btn btn-default" >Save	as Draft</button>
					<button type="submit" id="bhupi" ng-click="saveBankDetail(usr,'submit')" class="btn btn-primary" aria-hidden="true">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>

<div ng-include="'/resources/public/topheader.html'"></div>
<script>
	setTimeout( function() {
 		$('#dashboard').addClass('current')
	} ,3000);
</script>


	<div class="bodywrapper">



		
<div class="">
    
        <div class="pageheader">
            <h1 class="pagetitle">Dashboard</h1>           
        </div>
        <div class="clearfix"></div>

        <div class="flexon">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" box box-primary">
                <div class="box-header ui-sortable-handle pb-10" >
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">To Do List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <ul class="todo-list ui-sortable">
                    <li>
                      <!-- drag handle -->
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      
                      <!-- todo text -->
                      <span class="text">Please complete your profile</span>
                      <!-- Emphasis label -->
                      
                      <!-- General tools such as edit or delete-->
                      <div class="tools">
                        <a href="#" class="" data-toggle="modal" data-target="#myModalEditToDo"><i class="fa fa-edit"></i></a>
                        <a href="#" class="" data-toggle="modal" data-target="#myModalDeleteToDo"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </li>

                     <!-- delete to do -->
                        <div class="modal fade" id="myModalDeleteToDo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Delete To Do</h4>
                              </div>
                              <div class="modal-body">
                                <h3 class="mt-0">Are you sure you want to delete?</h3>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- delete to do -->

                         <!-- edit to do -->
                        <div class="modal fade" id="myModalEditToDo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Edit To Do</h4>
                              </div>
                              <div class="modal-body">
                                <textarea class="form-control" rows="3" placeholder=""></textarea>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- edit to do -->
                    <li>
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      
                      <span class="text">3 payment approval pending</span>
                   
                      <div class="tools">
                        <a href="#" class="" data-toggle="modal" data-target="#myModalEditToDo"><i class="fa fa-edit"></i></a>
                        <a href="#" class="" data-toggle="modal" data-target="#myModalDeleteToDo"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </li>
                    <li>
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      
                      <span class="text">3 invoice pending for approval</span>
                     
                      <div class="tools">
                        <a href="#" class="" data-toggle="modal" data-target="#myModalEditToDo"><i class="fa fa-edit"></i></a>
                        <a href="#" class="" data-toggle="modal" data-target="#myModalDeleteToDo"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </li>
                    <li>
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      
                      <span class="text">4 payment due date approacing</span>
                      
                      <div class="tools">
                        <a href="#" class="" data-toggle="modal" data-target="#myModalEditToDo"><i class="fa fa-edit"></i></a>
                        <a href="#" class="" data-toggle="modal" data-target="#myModalDeleteToDo"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </li>
                    <li>
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      
                      <span class="text">6 vendors approval pending</span>
                     
                      <div class="tools">
                        <a href="#" class="" data-toggle="modal" data-target="#myModalEditToDo"><i class="fa fa-edit"></i></a>
                        <a href="#" class="" data-toggle="modal" data-target="#myModalDeleteToDo"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </li>
                    
                  </ul>
                </div>
                <!-- /.box-body -->
                

                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase" data-toggle="modal" data-target="#myModalAddItem"><i class="fa fa-plus"></i> Add item</a>
                </div>

                <div class="modal fade" id="myModalAddItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">To Do List Add Item </h4>
                      </div>
                      <div class="modal-body">
                        <textarea class="form-control" rows="4" placeholder="Type here"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- System Messages -->
            <div class="col-md-4 col-sm-4 col-xs-12 flexon">
                <div class="box box-danger">
                    <div class="box-header with-border pb-10">
                        <h3 class="box-title">System Messages</h3>
                    </div>
            
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">
                            <li class="item">
                            <div class="product-info">
                                    <span class="product-description">If you schedule a payment for July 4, we'll process it </span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="product-info"><span class="product-description"> Banks  will be closed  </span></div>
                            </li>
                                            
                            <li class="item">
                                <div class="product-info"><span class="product-description">Customer Support will be closed</span></div>
                            </li>
                            
                            <li class="item">
                                <div class="product-info"><span class="product-description">Data Entry Service will be closed</span></div>
                            </li>
                            
                            
                        </ul>
                    </div>
            
                    <div class="box-footer text-center">
                        <a href="javascript:void(0)" class="uppercase">View All Actions</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12" style="display: flex;">
                <div class="box box-primary">
                    <div class="box-header with-border pb-10">
                        <h3 class="box-title">Go to Vendor</h3>
                    </div>
            
                    <div class="box-body p10">
                        <form class="form-inline">
                          <div class="form-group">
                            <input type="text" class="form-control w100" id="" placeholder="">
                          </div>
                          <button type="submit" class="btn btn-primary govendor w100-m mt-10-m">Go</button>
                        </form>
                    </div>
                    <div class="box-footer text-center">
                        <a href="vendor.html" class="uppercase">View All</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="flexon">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div style="display: flex;">
                    <div class="box box-danger">
                        <div class="box-header with-border pb-10">
                            <h3 class="box-title">Quick Links</h3>
                        </div>
                    
                        <div class="box-body">
                            <ul class="products-list product-list-in-box quicklinks">
                                <li class="item">
                                <div class="product-info">
                                        <span class="product-description"><a href="#"> Enter bill with documents </a></span>
                                    </div>
                                </li>

                                <li class="item">
                                    <div class="product-info"><span class="product-description"><a href="#"> Enter bill without document </a></span></div>
                                </li>
                                                
                                <li class="item">
                                    <div class="product-info"><span class="product-description"><a href="#">Pay vendors via ePayment</a></span></div>
                                </li>
                                
                                <li class="item">
                                    <div class="product-info"><span class="product-description"><a href="#">Manage users</a></span></div>
                                </li>

                                <li class="item">
                                    <div class="product-info"><span class="product-description"><a href="#">View chart of accounts</a></span></div>
                                </li>
                                
                                
                            </ul>
                        </div>
                    
                        <div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">View All Actions</a>
                        </div>
                
                    </div>
                </div>
            </div>

            <!-- getting Messages -->
            <div class="col-md-6 col-sm-6 col-xs-12 " style="display: flex;">
                <div class="box box-primary">
                  <div class="box-header with-border pb-10">
                    <h3 class="box-title">Getting Started</h3>

                  </div>
            
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">
                            <li class="item">
                            <div class="product-info">
                                <span class="product-description">Explore paymentvista.com with sample data </span>
                            </div>
                            </li>

                            <li class="item">
                                <div class="product-info"><span class="product-description"> View the startup checklist </span></div>
                            </li>
                                            
                            <li class="item">
                                <div class="product-info"><span class="product-description">Watch training videos</span></div>
                            </li>
                            
                            <li class="item">
                                <div class="product-info"><span class="product-description">Ask us a question?</span></div>
                            </li>
                        </ul>
                    </div>
                
                    <div class="box-footer text-center">
                      <a href="javascript:void(0)" class="uppercase">View All Actions</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!-- cash position -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">                        
                    <div class="contenttitle2 nomargintop">
                        <h3>Cash Position</h3>
                    </div>
                    
                    <div class="overviewhead">
                        <div class="overviewselect">
                            <select id="overviewselect" name="select">
                                <option value="">Monthly</option>
                                <option value="">Weekly</option>
                                <option value="">Quarterly</option>
                                <option value="">Half yearly</option>
                                <option value="">Yearly</option>
                                
                            </select>
                        </div>
                        <p>
                            <label>Date Picker</label>

                            <span class="field">
                                From <input id="datepicker_d" type="text" class="width100" /> To <input id="datepickerto" type="text" class="width100" />
                            </span>
                        </p>
                        <div class="box-footer text-center">
                          <a href="javascript:void(0)" class="uppercase"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="contenttitle2 nomargintop">
                        <h3>Cash Flow</h3>
                    </div>
                    <div id="chartContainer" style="height: 250px; width: 100%;">  </div>
                </div>
            </div> 
        </div>    
        
        <br clear="all" />
        
        <br><br><br><br><br><br><br>
	</div>


	</div>

<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      theme: "theme2",
      // title:{
      //   text: "Cash Flow "
      // },
      animationEnabled: true,
      axisX: {
        valueFormatString: "MMM",
        interval:1,
        intervalType: "month"
        
      },
      axisY:{
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
        //lineThickness: 3,        
        dataPoints: [
        { x: new Date(2016, 00, 1), y: 450 },
        { x: new Date(2016, 01, 1), y: 414},
        { x: new Date(2016, 02, 1), y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle"},
        { x: new Date(2016, 03, 1), y: 460 },
        { x: new Date(2016, 04, 1), y: 450 },
        { x: new Date(2016, 05, 1), y: 500 },
        { x: new Date(2016, 06, 1), y: 480 },
        { x: new Date(2016, 07, 1), y: 480 },
        { x: new Date(2016, 08, 1), y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross"},
        { x: new Date(2016, 09, 1), y: 500 },
        { x: new Date(2016, 10, 1), y: 480 },
        { x: new Date(2016, 11, 1), y: 510 }
        
        ]
      }
      
      
      ]
    });

chart.render();
}
</script>
	<script type="text/javascript">
		$(function() {
			$('#cin').keydown(function(e) {
								if (e.shiftKey || e.ctrlKey || e.altKey) {
									e.preventDefault();
								} else {
									var key = e.keyCode;
									if (!((key == 8) || (key == 46)
											|| (key >= 35 && key <= 40)
											|| (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
										e.preventDefault();
									}
								}
							});
		});
	</script>





</body>
</html>